$background: #F5F5F5;

$main-blue: #3F51B5;

$color-white    : #ffffff;
$color-black    : #212121;
$color-gray     : #eeeeee;
$color-gray-dark: darken($color-gray, 20%);

$color-divider    : $color-gray;
$color-icon-button: $color-gray-dark;