@import "compass";

@import "config/colors";
@import "modules/**/*";

@import "mixins/shadow";

//app level
@import "components/buttons";

@import "components/pages/splash";
@import "components/pages/car";
@import "components/pages/car-options";

@import "components/carParts/wheels";
@import "components/carParts/body";

@import "components/carOptions/option-blocks";

html {
  font-size: 18px;
  @media (max-width: 1400px) { font-size: 18px; }
  @media (max-width: 1200px) { font-size: 16px; }
  @media (max-width: 1024px) { font-size: 14px; }
  @media (max-width: 500px) { font-size: 12px; }
}

body {
  background-color: $background;
  color: $black;
}

.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px;
}

