$border-radius: 3px !default;

$option-block_display      : inline-block !default;
$option-block_border-radius: $border-radius;
$option-block_margin       : 10px 10px 10px 0 !default;
$option-block_width        : 30px !default;
$option-block_height       : 30px !default;

$option-block-selected_border-radius: 5px !default;
$option-block-selected_border       : 2px solid $main-blue !default;

$option-block-inner_width        : 100% !default;
$option-block-inner_height       : 100% !default;
$option-block-inner_border-radius: $border-radius;

$option-block-inner-number_font-size  : 18px !default;
$option-block-inner-number_font-weight: 500 !default;
$option-block-inner-number_color      : #606060 !default;

.option-block { 
  display      : $option-block_display;
  border-radius: $option-block_border-radius;
  margin       : $option-block_margin;
  width        : $option-block_width;
  height       : $option-block_height;
  @include shadow;
  &.-selected {
    border-radius: $option-block-selected_border-radius;
    border       : $option-block-selected_border;
  }
  &__inner {
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    border-radius: $option-block-inner_border-radius;
    width        : $option-block-inner_width;
    height       : $option-block-inner_height;
    &.-number {
      font-size  : $option-block-inner-number_font-size;
      font-weight: $option-block-inner-number_font-weight;
      color      : $option-block-inner-number_color;
    } 
  }
}