.car {
  max-width: 680px;
  height: 320px;
  margin: auto;
  margin-bottom: 24px;
  background-color: #ffffff;
  @include shadow;
  .car-name {
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: #999999;
  }
  .car-container {
    height: 200px;
    padding: 30px;
    .car-preview {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      max-width: 400px;
      &__body {
        position: relative;
        .body-brand {
          position: absolute;
          text-align: center;
          z-index: 1;
          top: 16px;
          width: 100%;
          height: 50px;
          img {
            height: 100%;
          }
        }
      }
      &__wheels {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -50%;
        > div {
          display: inline-block;
        }
        > div:first-child {
          position: absolute;
          left: 20px;
        }
        > div:last-child {
          position: absolute;
          right: 20px;
        }
      }
    }
  }
  .car-actions {
    border-top: 1px solid #eeeeee;
    padding: 16px;
    text-align: right;
    button {
      color: #999999;
    }
    button:first-child {
      margin-right: 12px;
    }
  }
}