._center {
  text-align: center; }

.button-container {
  text-align: center;
  margin-bottom: 20px; }

.page-splash .welcome {
  text-align: center;
  margin-bottom: 48px; }
  .page-splash .welcome__title {
    font-size: 24px;
    font-weight: 200; }
  .page-splash .welcome__sub {
    font-size: 18px;
    font-weight: 200; }

.page-customizer .car-preview {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 400px; }
  .page-customizer .car-preview__body {
    position: relative; }
  .page-customizer .car-preview__wheels {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -50%; }
    .page-customizer .car-preview__wheels > div {
      display: inline-block; }
    .page-customizer .car-preview__wheels > div:first-child {
      position: absolute;
      left: 20px; }
    .page-customizer .car-preview__wheels > div:last-child {
      position: absolute;
      right: 20px; }

.page-customizer .car-options .car-body__title {
  font-size: 24px;
  font-weight: 200; }

.page-customizer .car-options .car-wheels__title {
  font-size: 24px;
  font-weight: 200; }

.car-preview__wheels .circle {
  width: 120px;
  height: 120px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px; }

.car-preview__wheels .oval {
  width: 160px;
  height: 120px;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px; }

.car-preview__wheels .square {
  width: 120px;
  height: 120px; }

.car-preview__body .rectangle {
  width: 100%;
  height: 120px; }

.car-preview__body .parallelogram {
  width: 100%;
  height: 120px;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  transform: skew(30deg); }

.car-preview__body .oval {
  width: 100%;
  height: 120px;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px; }

body {
  background-color: #F5F5F5;
  color: #000; }

a {
  text-decoration: none;
  color: #666; }

.page {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px 0 24px; }

.mdl-layout__header {
  z-index: 1; }
